record (ao, "$(P):$(DEV):VolLHe_Lt") {
  field(DESC, "LHe in $(DEV) dewar [l]")
  field(EGU, "l")
  field(PREC, "1")
  field(PINI, "YES")
  info(autosaveFields,"VAL")
  field(FLNK, "$(P):$(DEV):VolLHe")
}

record (calc, "$(P):$(DEV):TT-calc:sRdV") {
  field(EGU, "K")
  field(PREC, "3")
  field(SCAN, "10 second")
  field(INPA, "-0.3193")
  field(INPB, "1.715")
  field(INPC, "2.8012")
  field(INPK, "$(PT)")
  field(CALC, "A*(K^2)+B*K+C")
}

record (ao, "$(P):$(DEV):Vol") {
  field(DESC, "Volume of $(DEV_STR)")
  field(EGU, "m³")
  field(PREC, "3")
  field(VAL, "$(VOL)")
  field(PINI, "YES")
}

record (calc, "$(P):$(DEV):VolLHe") {
#  field(SCAN, "10 second")
#  field(PHAS, "1")
  field(EGU, "m³")
  field(PREC, "3")
  field(INPA, "$(ACT_VOL_L)")
  field(CALC, "A/1000")
  field(FLNK, "$(P):$(DEV):VolGHe")
}

record (calc, "$(P):$(DEV):VolGHe") {
  field(EGU, "m³")
  field(PREC, "3")
  field(INPA, "$(ACT_VOL_L)")
  field(INPB, "$(P):$(DEV):Vol")
  field(CALC, "A<0.1?0:B-A/1000")
  field(FLNK, "$(P):$(DEV):MassLHe")
}

record (calc, "$(P):$(DEV):MassLHe") {
  field(EGU, "kg")
  field(PREC, "1")
  field(INPA, "-2.19995")
  field(INPB, "-15.963")
  field(INPC, "143.59")
  field(INPK, "124.4")
  field(INPL, "$(P):$(DEV):VolLHe")
  field(CALC, "K*L")
  field(FLNK, "$(P):$(DEV):MassGHe")
}

# We need to approximate the average density of the He gas in the dewar.
# It depends on the gas temperature distribution in the dewar
# above the LHe. It probably depends on the amount of LHe in the dewar.
# As a first approximation we take assume a constant temperature of the
# gas to be 20 K. The density is then 2.44 kg/m³ at 1013 mbar 

record (calc, "$(P):$(DEV):MassGHe") {
  field(EGU, "kg")
  field(PREC, "1")
  field(INPD, "3.6341")
  field(INPE, "9.9234")
  field(INPF, "2.8838")
  field(INPJ, "$(P):$(DEV):VolLHe")
  field(INPK, "$(AVG_GHE_DENS)")
  field(INPL, "$(P):$(DEV):VolGHe")
  field(CALC, "J>0?K*L:0")
  field(FLNK, "$(P):$(DEV):MassHe")
}

record (calc, "$(P):$(DEV):MassHe") {
  field(EGU, "kg")
  field(PREC, "1")
  field(INPA, "$(P):$(DEV):MassLHe")
  field(INPB, "$(P):$(DEV):MassGHe")
  field(CALC, "A+B")
}

record (calc, "$(P):$(DEV):LT-calc:sRdV") {
  field(EGU, "%")
  field(PREC, "1")
  field(SCAN, "10 second")
  field(INPA, "$(P):$(DEV):VolLHe_Lt")
  field(INPB, "$(VOL)")
  field(CALC, "0.1*A/B")
}

# PVs for He balance calculations
####################################

record (calcout, "$(P):$(DEV):InOut-Rst") {
  field(INPA, "$(P):Ctrl:Reset")
  field(CALC, "A=1?1:0")
  field(OUT, "$(P):$(DEV):InOut.OMSL")
  field(FLNK, "$(P):$(DEV):InOut.PROC")
}

record (ao, "$(P):$(DEV):InOut") {
  field(DESC, "Adding/removing from the cryo system")
  field(EGU, "l")
  field(DOL, "$(P):Ctrl:Zero")
  field(UDFS, "NO_ALARM")
  field(FLNK, "$(P):$(DEV):dMassHe.PROC")
}

record (calc, "$(P):$(DEV):dMassHe") {
  field(DESC, "LHe delivery(-) and return (+)")
  field(EGU, "kg")
  field(PREC, "1")
  field(PINI, "YES")
  field(INPA, "-2.19995")
  field(INPB, "-15.963")
  field(INPC, "143.59")
  field(INPD, "3.6341")
  field(INPE, "9.9234")
  field(INPF, "2.8838")
  field(INPG, "$(VOL)")
  field(INPH, "1000.0")
  field(INPI, "$(P):Ctrl:Reset")
  field(INPJ, "$(P):$(DEV):dMassHe")
  field(INPK, "$(AVG_GHE_DENS)")
  field(INPL, "$(P):$(DEV):InOut")
  field(CALC, "I=1?0:124.4*L/H+(L=0?0:K*(L>0?G-L/H:-L/H-G))+J")
  info(autosaveFields,"VAL")
  field(FLNK,  "$(P):$(DEV):VolLHe_Lt-sel")
}

record(calc, "$(P):$(DEV):VolLHe_Lt-sel") {
  field(INPA, "$(P):$(DEV):InOut")
  field(CALC, "A=0?0:(A>0?1:3)")
  field(FLNK, "$(P):$(DEV):VolLHe_Lt-calc")
}

record (calc, "$(P):$(DEV):VolLHe_Lt-calc") {
  field(INPA, "$(P):$(DEV):InOut")
  field(INPB, "$(P):$(DEV):Vol") 
  field(SDIS, "$(P):$(DEV):InOut-Rst")
#  field(OUT, "$(P):$(DEV):VolLHe_Lt.VAL CA") 
  field(CALC, "MIN(ABS(A),B*1000.0)")
  field(FLNK, "$(P):$(DEV):VolLHe_Lt-seq")
}

record (seq, "$(P):$(DEV):VolLHe_Lt-seq") {
 field(SELM, "Mask")
 field(SELL, "$(P):$(DEV):VolLHe_Lt-sel")
 field(DOL1, "$(P):$(DEV):VolLHe_Lt-calc")
 field(DOL2, "0.0")
 field(LNK1, "$(P):$(DEV):VolLHe_Lt.VAL PP")
 field(DLY1, "0.0")
 field(LNK2, "$(P):$(DEV):VolLHe_Lt.VAL PP")
 field(DLY2, "11.0")
}
